ADMIN_EMAIL=
AUTH_SECRET=
DATABASE_URL=
NEXTAUTH_SECRET=
NEXTAUTH_URL=
SQUARE_ACCESS_TOKEN=
SQUARE_ENVIRONMENT=
SQUARE_LOCATION_ID=
SUPA_BASE_KEY=
SUBA_BASE_ANON_KEY=
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
